# Environment variables
Backend/.env

# Python cache
Backend/__pycache__/
**/__pycache__/
*.pyc

# AI model
Backend/models_gguf/
*.gguf

# llama.cpp binaries
Backend/llama.cpp/

# instance database 
Backend/instance/

# React
neuronest-react/node_modules/